@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

/* styling navbar */

li, a, button, i {
    font-weight: 450;
    font-size: 17px;
    color: white;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.icon-logo {
    font-weight: 600;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    align-items: center;
    padding: 14px 9%;
    user-select: none;
}

.nav-options li{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.nav-options li:hover {
    color: #00f18d;
    background-color: #00a03d;
    border-radius: 10px;
}

.menu-btn {
    display: none;
}

.bar {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    z-index: 1;
}

.menu-pic {
    display: none;
}

#theme {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 1.5em;
    right: 2.5em;
    width: 3rem;
    height: 1.5em;
    border-radius: 15px;
    background: #202020;
    box-shadow: inset 0 8px 60px rgba(95, 95, 95, 0.1),
                inset 0 8px 8px rgba(175, 175, 175, 0.1),
                inset 0 -4px 4px rgba(175, 175, 175, 0.2);
}

#theme.active {
    background: linear-gradient(to bottom, #00c54c, #00722c);
}

#theme .mode {
    position: absolute;
    top: 0;
    left:.5px;
    width: 1.7rem;
    height: 1.4em;
    border-radius: 50%;
    background: linear-gradient(to bottom, #868686, #616161);
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(155, 155, 155, 0.137),
                inset 0 4px 4px rgba(255, 255, 255, 0.431),
                inset 0 -4px 4px rgba(255, 255, 255, 0.432);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#theme.active .mode {
    left: 21px;
    background: linear-gradient(to bottom, #d6d6d6, #818181);
}

#theme .mode::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 11px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #1a1a1a;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

#theme.active .mode::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 11px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #00c54c;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

body.active {
    background: #161424;
    color: #fff;
}

header.active {
    background: #000000;
    color: #fff;
}

/* styling droplist content */
h2 {
    margin: 15px;

}

.main-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 30px;
}

.select-box {
    background-color: #171d24;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.select-box::after {
    content: "";
    background: url("images/dropdown.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 30%;
    width: 22px;
    right: 11px;
    top: 12px;
    transition: all .5s; 
}

.list-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.list-box .options-container {
    background: #171d24;
    color: #fff;
    max-height: 0;
    opacity: 0;
    width: 100%;
    transition: all .4s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    order: 1;

    position: absolute;
    z-index: 100;
}

.list-box .option, 
.select-box {
    padding: 10px 22px;
    cursor: pointer;
}

.list-box .option:hover {
    background: #414b57
}

.list-box label {
    cursor: pointer;
}

.list-box .option .radio-option {
    display: none;
}

.list-box .options-container.active {
    max-height: 180px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 45px;
}

.list-box .options-container.active + .select-box::after {
    transform: rotateX(180deg);
    top: 12px;
}

.list-box .options-container::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
    border-radius: 0 8px 8px 0;
}

.list-box .options-container::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

/* styling device-image  */
.device-button {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0 1.5rem 0;
}

.device-image {
    position: absolute;
    padding: 50px 50px;
    background-color: #2f3640;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/1200px-Light_bulb_%28yellow%29_icon.svg.png);
    background-size: cover;
    border-color: transparent;
    border-radius: 8px;
}

button:hover {
     -moz-box-shadow: inset 0 0 7px #000000;
     -webkit-box-shadow: inset 0 0 7px #000000;
     box-shadow: inset 0 0 7px #000000;
}

/* styling device-info */

    .device-info {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .device-info .info-container {
        -moz-box-shadow: inset 0 0 7px #000000;
        -webkit-box-shadow: inset 0 0 7px #000000;
        box-shadow: inset 0 0 7px #000000;
        background: #373647;
        padding: 15px 150px 15px 10px;
        border-radius: 8px;
        border-color: none;
    }

/* styling searchbox */
    .filter-container .filter-box {
        padding: 8px;
        width: 97%;
        margin: 6px;
        border: none;
        font-size: 16px;
        border-radius: 8px 8px 0 0;
    }

    .filter-box:focus {
        outline: none;
    }
/* styling responsive settings */

@media (max-width: 1024px) {
    li, a, button, i {
        font-weight: 400;
        font-size: 15px;
    }

    .icon-logo {
        font-weight: 570;
        font-size: 21px;
    }

    header {
        padding: 13px 9%;
    }

    #theme {
        top: 1.4em;
        right: 25px;
        width: 2.7rem;
        height: 1.3em;
    }

    #theme .mode {
        left: .7px;
        width: 1.5rem;
        height: 1.4em;
    }

    #theme.active .mode {
        left: 18.9px;
    }

    #theme .mode::after {
        top: 8.3px;
        left: 9.7px;
    }

    #theme.active .mode::after {
        top: 8.3px;
        left: 9.7px;
    }
}

@media (max-width: 900px) {
    li, a, button, i {
        font-weight: 370;
        font-size: 15px;
    }

    .icon-logo {
        font-weight: 550;
        font-size: 20px;
    }

    header {
        padding: 13px 11%;
    }
}

@media only screen and (max-width: 690px) {
    header {
        padding: 13px 18px;
    }

    .main-contents {
        font-size: 15px;
    }

    .list-box .options-container.active {
        max-height: 150px;
        opacity: 1;
        overflow-y: scroll;
        margin-top: 45px;
    }

    .icon-logo.blur {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        transition: all .5s ease-in-out;
    }
    
    .device-button.blur {
        transition: all .5s ease-in-out;
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }
    
    .main-contents.blur {
        transition: all .5s ease-in-out;
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }

    .device-info.blur {
        transition: all .5s ease-in-out;
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }

    #theme {
        top: 1.2em;
        left: 25px;
        width: 2.7rem;
        height: 1.3em;
    }

    .nav-options {
        position: fixed;
        right: -100%;
        transform: scale(0, 0) translateY(-1250px);
        top: 0;
        background-color: rgba(0, 0, 0, 0.507);
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-top: 20%;
        text-align: center;
        transition: all .7s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.09);
        border-radius: 200%;
        z-index: 1;
        overflow: hidden;
    }

    li, a {
        font-weight: 370;
        font-size: 18px;
    }

    .nav-options.active {
        right: 0;
        transform: scale(1); 
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.781);
    }

    .nav-options li{
        margin: 1rem 8em;
        z-index: 1;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .menu-btn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(135deg);
    }

    .menu-btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-135deg);
    }

    .menu-options {
        top: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 1em;
    }
}

@media only screen and (max-width: 580px) {
    h2 {
        margin: 14px;
    }

    .main-contents {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        padding: 20px;
    }

    .select-box::after {
        height: 30%;
        width: 18px;
        right: 10px;
        top: 12px;
    }

    .list-box {
        width: 350px;
    }

    .nav-options li {
        margin: 1rem 7em;
    }

    .device-button {
        padding: 35px;
    }

    .device-image {
        padding: 40px 40px;
    }

    .device-info .info-container {
        font-size: 14;
        padding: 14px 145px 14px 8px;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 376px) {
    .main-contents{
        font-size: 13px;
    }

    li, a {
        font-weight: 330;
        font-size: 15px;
    }

    .device-button {
        padding: 2.5rem 0 2rem 0;
    }

    .nav-options li{
        margin: .8rem 4em;
    }

    .select-box::after {
        height: 32%;
        width: 18px;
        right: 10px;
        top: 11px;
    }

    .list-box {
        width: 285px;
    }

    .device-info .info-container {
        font-size: 13px;
        padding: 13px 140px 13px 7px;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 285px) {

    li,
    a, 
    label {
        font-weight: 300;
        font-size: 13px;
    }

    .nav-options li {
        margin: .8rem 4em;
    }

    .select-box::after {
        height: 32%;
        width: 18px;
        right: 10px;
        top: 11px;
    }

    .list-box {
        width: 260px;
    }

    .device-info .info-container {
        font-size: 11px;
        padding: 12px 137px 12px 6px;
        border-radius: 8px;
    }

    .filter-container .filter-box {
        width: 96%;
    }
}